.App{
  color:white;
  text-align: center;
}
body{
  background-color: rgb(25, 9, 63);
}
.agents-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.agents-wrap{
  display: flex;
  flex-direction: column;
}
.agent-name{
  text-align: center;
}
.agents-card{
  display: flex;
  justify-content: center;
}

.agent-container{
  display: grid;
  grid-template-columns: 1fr minmax(8rem, 2fr) 1fr;
  border: red solid 5px;
}
.agent-left{
  border: red solid 5px;
}
.agent-middle{
  border: red solid 5px;
}
.agent-right{
  border: red solid 5px;
}
