@font-face {
  font-family: 'Valorant';
  src: local('valorant'), url(./components/Fonts/valorant.ttf) format('truetype');
}


.App{
  color:white;
  text-align: center;
}
#title1{
  color: rgb(255, 70, 84);
  font-family: 'Valorant';
}
#title2{
  color: rgb(255, 253, 198);
  font-family: 'Valorant';
}
body{
  background-color: rgb(25, 9, 63);
}
.agents-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.agent-container{
  display: grid;
  grid-template-columns: 1fr minmax(8rem, 2fr) 1fr;
  border: red solid 5px;
}
.agent-left{
  border: red solid 5px;
}
.agent-middle{
  border: red solid 5px;
}
.agent-right{
  border: red solid 5px;
}

#home{
  background-image: url("https://media.valorant-api.com/playercards/69265fa9-4c85-e728-d332-4a84857fd84e/wideart.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size:40%;
}
video{
  padding-bottom:4rem;
}